.navSignin {
  color: greenyellow !important;
}
.active {
  /* color: #feffff !important; */
  /* border-bottom: 5px solid white !important; */
  box-shadow: inset 0px -4px white;
}
.navBackground:hover {
  box-shadow: inset 0px -4px white;
  /* border-bottom: 5px solid white; */
  /* box-shadow: 0px 8px 6px -6px white; */
  /* margin-bottom: -5px; */
}
.navBackground {
  border: 0px;
  transition: all 0.1s ease;
}
.myBase {
  margin-bottom: 36px;
}
